@media screen and (max-width: 361px) {
  .above-360 {
    display: none;
  }
}

@media screen and (min-width: 361px) {
  .below-360 {
    background-color: red;
    display: none;
  }
  .above-360 {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .above-360 {
    display: flex;
    justify-content: right;
    position:sticky;
    margin: 10px;
  }

}

#intro-div {
  text-align: center;
  padding: 14px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  margin: 20px;
}