@media screen and (max-width: 361px) {
  .above-360 {
    display: none;
  }
  .tools-above-360{
    display: none;
  }
}

@media screen and (min-width: 361px) {
  .below-360 {
    display: none;
  }

  .mob-tools-below-360{
    display: none;
  }
  
  .above-360 {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .above-360 {
    display: flex;
    justify-content: right;
    position:sticky;
    margin: 10px;
  }

}

#intro-div {
  text-align: center;
  padding: 14px;
}

a, a:visited, a:active{
  color: inherit;
  margin: 20px;
  text-decoration: none;
  font-weight: 600;
}

#mob-nav-menu {
  position: fixed;
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 2px 20px black;
  padding: 10px;
}

.imageReel {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1000px;
  
}

.imageSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.image {
  height: 400px;
  width: 100%;
  display: inline-block;
}

.imageReelDots {
  text-align: center;
}

.imageReelDot {
  display: inline-block;
  height: 20px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.imageReelDot.active {
  background-color: #6a0dad;
}