/* @media screen and (max-width: 480, 768, 1200) */

@media screen and (max-width: 480px) {
  .navbar-above-480 {
    display: none;
  }

  .tools-above-480 {
    display: none;
  }

  #mob-tools-links {
    text-align: center;
  }

  .navbar-480 {
    z-index: 1000;
    position: fixed;
    top: 0;
  }

  #intro-div {
    text-align: center;
  }

  .projects-above-480 {
    display: none;
  }

  .project-container {
    text-align: center;
    color: white;
  }

  /* .projects-480 {
    background-color: black;
  } */

  #image-tablet {
    height: 200px;
  }

  .image > p {
    display: none;
  }

  .image > img {
    width: 80%;
    height: 200px;
  }

  .imageReel {
    margin: 0;
    overflow: hidden;
    max-width: 400px;
  }

  .about-above-480 {
    display: none;
  }

  .about-p {
    text-align: center;
    line-height: 1.5em;
    padding: 0px 40px;
    color: white;
  }

  .badges-above-480 {
    display: none;
  }

  #badges-480-image-div {
    text-align: center;
  }

  #link {
    background-color: whitesmoke;
    padding: 7px;
    color: black;
    /* border-radius: 8px; */
  }

  .project,
  .project2 {
    padding: 0px 40px;
  }

  #resume-dl-link {
    font-size: 1.2em;
    text-decoration: none;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    color: whitesmoke;
  }

  .footer > a {
    padding: 11px;
    position: fixed;
    bottom: 0;
    background-color: black;
    border-radius: 14px 0px 0px 0px;
  }

  .badges-container {
    background-color: white;
    color: black;
  }
  
  #about-div {
    background-color: white;
    color: black;
  }
  
  #projects-container {
    background-color: white;
    color: black;
  }
  
  #tools-div {
    background-color: white;
    color: black;
  }

}

/* ----------------------------------------------------- */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar-480 {
    display: none;
  }

  #resume-dl-link {
    font-size: 1.3em;
    text-decoration: none;
  }

  .mob-tools-below-480,
  .projects-480,
  .badges-480,
  .about-480 {
    display: none;
  }

  .navbar-above-480 {
    display: flex;
    justify-content: space-around;
  }

  .navbar-above-480 {
    padding: 14px;
    background-color: black;
    color: whitesmoke;
  }

  #image-tablet {
    height: 350px;
  }

  .image > p {
    display: none;
  }

  .image > img {
    width: 80%;
    height: 350px;
  }

  .imageReel {
    margin: 0;
    overflow: hidden;
    max-width: 85%;
  }

  .project,
  .project2 {
    padding: 0px 40px;
    text-align: center;
  }

  .project-container {
    text-align: center;
  }

  #intro-div {
    text-align: center;
  }

  #badges {
    text-align: center;
  }

  #badges > h1 {
    text-align: left;
  }

  .about-p {
    line-height: 1.7em;
    padding: 35px;
    text-align: center;
  }

  .tools-above-480 {
    text-align: center;
  }

  

  .tools-above-480 > h1 {
    text-align: left;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    color: whitesmoke;
  }

  .footer > a {
    padding: 11px;
    position: fixed;
    bottom: 0;
    background-color: black;
    border-radius: 14px 0px 0px 0px;
  }
}

/* ----------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .navbar-480 {
    display: none;
  }

  #resume-dl-link {
    font-size: 1.5em;
    text-decoration: none;
  }

  .mob-tools-below-480,
  .projects-480,
  .badges-480,
  .about-480 {
    display: none;
  }

  .navbar-above-480 {
    display: flex;
    justify-content: space-around;
  }

  .navbar-above-480 {
    padding: 14px;
    background-color: black;
    color: whitesmoke;
  }

  #image-tablet {
    height: 450px;
  }

  .image > p {
    display: none;
  }

  .image > img {
    width: 80%;
    height: 450px;
  }

  .imageReel {
    margin: 0;
    overflow: hidden;
    max-width: 85%;
  }

  .project,
  .project2 {
    padding: 0px 40px;
    text-align: center;
  }

  .project-container {
    text-align: center;
  }

  #intro-div {
    text-align: center;
  }

  #badges {
    text-align: center;
  }

  #badges > h1 {
    text-align: left;
  }

  .about-p {
    line-height: 1.7em;
    padding: 35px;
    text-align: center;
  }

  .tools-above-480 {
    text-align: center;
  }

  .tools-above-480 > h1 {
    text-align: left;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    color: whitesmoke;
  }

  .footer > a {
    padding: 11px;
    position: fixed;
    bottom: 0;
    background-color: black;
    border-radius: 14px 0px 0px 0px;
  }
}

/* ----------------------------------------------------- */

@media screen and (min-width: 1201px) {
  .navbar-480 {
    display: none;
  }

  #resume-dl-link {
    font-size: 1.5em;
    text-decoration: none;
  }

  .mob-tools-below-480,
  .projects-480,
  .badges-480,
  .about-480 {
    display: none;
  }

  .navbar-above-480 {
    display: flex;
    justify-content: flex-end;
    padding: 14px;
    background-color: black;
    color: whitesmoke;
  }

  a {
    margin: 0px 15px;
  }

  h1 {
    text-align: center;
    background-color: ;
  }

  #image-tablet {
    height: 450px;
  }

  .image > p {
    display: none;
  }

  .image > img {
    width: 80%;
    height: 450px;
  }

  .imageReel {
    margin: 0;
    overflow: hidden;
    max-width: 85%;
  }

  .tools-above-480{
    text-align: center;
  }

  .project,
  .project2 {
    padding: 0px 40px;
    text-align: center;
  }

  .project-container {
    text-align: center;
  }

  #intro-div {
    text-align: center;
  }

  #badges {
    text-align: center;
  }

  .about-p {
    line-height: 1.7em;
    padding: 35px;
    text-align: center;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    color: whitesmoke;
  }

  .footer > a {
    padding: 11px;
    position: fixed;
    bottom: 0;
    background-color: black;
    border-radius: 14px 0px 0px 0px;
  }
}


/* ----------------------------------------------------- */

* {
  font-family: "Open Sans", sans-serif;
}

#tools {
  background-color: black;
  padding: 20px;
}

.about-p {
  background-color: black;
  padding: 20px;
}

.project, .project2 {
  background-color: black;
  padding: 20px;
}

.imageReel {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1000px;
}

.imageSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.image {
  height: 400px;
  width: 100%;
  display: inline-block;
}

.imageReelDots {
  text-align: center;
}

.imageReelDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.imageReelDot.active {
  background-color: #6a0dad;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

body {
  background-image: url('https://images.unsplash.com/photo-1624696612050-73b5891cafcf?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTgwOTN8MHwxfHNlYXJjaHw2Mnx8Y29kaW5nfGVufDB8fHx8MTY1NjQ2NjE0NQ&ixlib=rb-1.2.1&q=80&w=1080');
  color: white;
  background-blend-mode: overlay;
}

.badges-container {
  background-color: white;
  color: black;
}